<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hello Bulma!</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/bulma.min.css') }}">
</head>

<body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112"
          height="28">
      </a>
    </div>
  </nav>
  <section class="section">

    <nav class="level">
      <div class="columns">
        <div class="column">
          <div class="level-left">
            <div class="container">
              <h1 class="title">
                Laboratorio Seis
              </h1>
              <h2 id="fechaa" class="subtitle">
                Holaaaaa
                <script>document.getElementById("fecha").innerHTML = Date()</script>
              </h2>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="level-right">
            <div class="level-tiem has-text-left">
              <div class="container">
                
                <h2 class="subtitle">JL Granda</h2>
                <h2 class="subtitle">David Rojas</h2>
                <h2 class="subtitle">Andres Alcaraz</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </section>
  <section class="section">
    <button name="nose"> Holaaa</button>
<form action="post">
<input type="submit" name="Right" value="Right">
<input type="submit" name="Right" value="Left">
<input type="submit" name="Up" value="Up">
<input type="submit" name="Down" value="Down">
</form>
  </section>


  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        by <a href="https://github.com/CostGranda">JL Granda</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC
          BY NC SA 4.0</a>.
      </p>
    </div>
  </footer>
</body>

</html>